{% extends "layout.html" %}
{% block content%}
<section>
    <div id="vista" class="jumbotron">
        <h1 class="display-4">
            Lo que busca tu empresa, lo tenemos a tu alcanse!
        </h1>
        <p class="lead">
            Empresa con profesionales dedicados a desarrolar el mejor servicio logístico para tu empresa.
        </p>
        <hr class="my-4">
        <p>
            It uses utility classes for typography and spacing to space content out within the larger container.
        </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">
            Learn more
        </a>
</div>
</section>
<footer> 
<aside id="link">  
    <a href="https://www.facebook.com/" class="text-decoration-none" target="_black">FACEBOOK</a>
    <a href="https://www.twitter.com/" class="text-decoration-none" target="_black">TWITTER</a>
</aside> 
    <p1>
    SalchixD
    </p1>
</footer> 
{% endblock %}