<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TRC S.A.C</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript">
        function myFunction(){
            document.getElementById("demo").innerHTML = "Paragraph changed.";
        }
    </script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
<nav>
   <ul class="nav justify-content-center">
        <li class="nav-item">
        <a class="nav-link active" href="/about">Acerca de</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
         </li>
        <li class="nav-item">
             <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul> 
</nav>
<header id="cabecera">
    <hgroup>
        <h1>
           Transportes Rodrigo Carranza S.A.C
        </h1>
        <nav id="buscador" class="navbar navbar-light bg-light">
            <a class="navbar-brand">
                SalchiCoD
            </a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Busqueda
                </button>
            </form>
        </nav> 
    </hgroup> 
</header>
<div class="content p-4">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>